<form (submit)="update()" >
	<p>Title<input type="text" name="listing.title" [(ngModel)]="listing.title" ></p>
	<p>Description<input type="text" name="listing.description" [(ngModel)]="listing.description"></p>
	<p>Price<input type="number" name="listing.price" [(ngModel)]="listing.price"></p>
	<p>Location<input type="text" name="listing.location" [(ngModel)]="listing.location"></p>
	<p>Source:<input type="text" name="listing.src" [(ngModel)]="listing.src"></p>

	<img width="512" src="{{listing.src}}">

	<button (click)="destroy()" >DESTROY</button>

	<input type="submit" value="Update Listing">
</form>