<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
</head>
<body>
        {%for message in get_flashed_messages()%}
                <p>{{message}}</p>
        {%endfor%}

        <h1>Hey there! Tell us a little about yourself:</h1>

        <form action="/process" method="post">
                <label for="userName">First Name:
                        <input type="text" name="firstName" id="userName">
                </label>
                <input type="hidden" name="userId">
                <input type="submit">
        </form>
</body>
</html>