<h1>Create Product:</h1>

<form (submit)="createProduct()">
	<p>Title:<input type="text" name="product.title" [(ngModel)]="product.title" ></p>

	<input type="submit" value="Create Product">
</form>

<h1>Create Category:</h1>

<form (submit)="createCategory()">
	<p>Title:<input type="text" name="category.title" [(ngModel)]="category.title" ></p>

	<input type="submit" value="Create Category">
</form>

<h1>Join:</h1>

{{ procat | json }}

<form (submit)="createProCat()">
	<select name="procat.category" [(ngModel)]="procat.category">
		<option value="{{cat._id}}" *ngFor="let cat of categories">{{ cat.title }}</option>
	</select>

	<select name="procat.product" [(ngModel)]="procat.product">
		<option value="{{prod._id}}" *ngFor="let prod of products">{{ prod.title }}</option>
	</select>

	<input type="submit" value="Join">
</form>

<table border="1">
	<tr>
		<th>Category:</th>
		<th>Product:</th>
	</tr>

	<tr *ngFor="let procat of procats">
		<td>{{ procat.category.title }}</td>
		<td>{{ procat.product.title }}</td>
	</tr>
</table>
